<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/main/css/reset.css') }}"/>
            <link rel="stylesheet" href="{{ asset('bundles/main/css/style.css') }}"
                  type="text/css" media="screen" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <h1 id="title">ce que je veux </h1>
    <div id="wrapper-main">
        <div id="wrapper-left"></div>

        <div id="menu">
            <div id="register">
               <a href="">Inscription</a>
                <a href="">Connexion</a>
            </div>
            <ol>
                <a href="{{ path('main_homepage') }}"><li class="menu-item">Accueil</li></a>
                <a href="{{ path('enchere_page') }}"><li class="menu-item">Les enchères</li></a>
                <a href="{{ path('top_page') }}"><li class="menu-item">Le classement</li></a>
                <a href="{{ path('apropos_page') }}"><li class="menu-item">A propos</li></a>
            </ol>
        </div>
        <div id="block-main">
            {% block content %}{% endblock %}
        </div>
        <div id="wrapper-right"></div>
    </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
